<div class="w-full">
  <h1 class="mb-4">問題新規作成</h1>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">問題名</label>
    <input type="textarea" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3 d-flex justify-between">
    <h4>問題内容</h4>
    <div>
      <%= link_to '問題文',
                  new_admins_question_content_path,
                  class: "btn btn-primary",
                  remote: true,
                  data: { turbo_frame: 'sentence_modal' }
      %>
      <%= render 'admins/question_contents/image_modal' %>
    </div>

  </div>

  <div class="flex-col">
    <%# 登録リンククリック時に、cats#newの新規登録フォーム部分をここに置換する %>
    <%= turbo_frame_tag "sentence_modal" %>
    <div id="question_contents">
      <%= render @question_contents %>
    </div>
  </div>
</div>
