<div class="w-full">
  <h1 class="mb-4">問題新規作成</h1>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">問題名</label>
    <input type="textarea" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3 d-flex justify-between">
    <h4>問題内容</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      追加
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">問題要素を追加</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-primary">問題文</button>
            <button type="button" class="btn btn-primary">画像</button>
            <%= link_to '問題文',
              new_admins_question_content_path(question_id: @question.id),
              class: "btn btn-outline-primary",
              data: { turbo_frame: "new_question_content"}
            %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          </div>
        </div>
      </div>  
    </div>
    <!-- Modal end -->

    <%# 登録リンククリック時に、cats#newの新規登録フォーム部分をここに置換する %>
    <%= turbo_frame_tag "new_question_content" %>

    <% @question_contents.each do |content| %>
      <%= turbo_frame_tag content do %>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <% end %>
    <% end %>
  </div>
</div>
