<%= turbo_frame_tag question_option do %>
  <div class="card w-full flex-row justify-between rounded border-0 mb-1">
    <div class="col-1 text-bg-light border rounded-start d-flex align-items-center justify-content-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
        <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
    </div>
    <div class="col-10" style="height: 6em; white-space: pre-wrap;"><p class="border h-100 w-full rounded-end px-3 py-2" ><%= question_option.sentence %></p></div>
    <div class="col-1 flex flex-column align-content-start align-items-end justify-content-center">
      <%= link_to "編集", edit_admins_question_option_path(question_option), class: "btn btn-outline-primary mb-2" %>
      <%= button_to "削除", admins_question_option_path(question_option), method: :delete, class: "btn btn-outline-danger", form: { data: { turbo_confirm: "本当に削除しますか？" } } %>
    </div>
  </div>
<% end %>
