<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#textAreaModal">
  問題文
</button>

<!-- Modal -->
<div class="modal fade modal-lg" id="textAreaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">問題文を追加</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div><textarea class="border h-100 w-full" id="exampleFormControlTextarea1" rows="5"></textarea></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">追加</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>  
</div>
<!-- Modal end -->
